[submodule "retention-graph-Cohort-analysis"]
	path = retention-graph-Cohort-analysis
	url = https://github.com/arajajyothibabu/retention-graph-Cohort-analysis.git
[submodule "TodoApp-with-ReactJs"]
	path = TodoApp-with-ReactJs
	url = git@github.com:arajajyothibabu/TodoApp-with-ReactJs.git
