[submodule "TodoApp-with-ReactJs"]
	path = TodoApp-with-ReactJs
	url = https://github.com/arajajyothibabu/TodoApp-with-ReactJs.git
[submodule "javascript-breakout-game"]
	path = javascript-breakout-game
	url = https://github.com/arajajyothibabu/javascript-breakout-game.git
[submodule "angular-hangman-game"]
	path = angular-hangman-game
	url = https://github.com/arajajyothibabu/angular-hangman-game.git
[submodule "retention-graph-cohort-analysis"]
	path = retention-graph-cohort-analysis
	url = https://github.com/arajajyothibabu/retention-graph-cohort-analysis.git
[submodule "css-to-json"]
	path = css-to-json
	url = https://github.com/arajajyothibabu/css-to-json.git
